body { font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,
  "lucida sans unicode",tahoma,sans-serif; background: #fafafa;
  font-size: 13px; line-height: 22px; color: #222; }
h3 { color: #7D4698; position: relative }
a { color: #7D4698; text-decoration: none; font-weight: bold; }
p { margin: 0; padding: 10px; }
a[name] { padding: 0; margin: 0; }
.box { max-width: 850px; width: 100%; margin: 0 auto 30px auto;
  padding-bottom: 30px; background: white; border: 1px solid #eee; }
.box > * { margin-left: 30px; margin-right: 30px; }
.box h3 a { visibility: hidden; }
.box:hover h3 a { visibility: visible; }
.api-request { border-bottom: 1px solid #eee; position: relative }
.request-url, .request-type, .request-response { padding: 8px 10px;
  vertical-align: middle }
.request-type { color: #57145F; display: inline-block; }
.request-url { color: #333; font-size: 18px; }
.request-response { position: absolute; color: #666; right: 0; }
h3 .request-response { padding: 0 !important; }
.api-urls>li:last-child { border-bottom: 0; }
.required-true, .required-false, .typeof { display: inline-block;
  vertical-align: middle; padding: 5px 10px; }
.required-true { color: #1d7508; }
.required-false { color: #aaa; }
.properties { margin-top: 10px; margin-bottom: 10px;
  border: 1px solid #eee; }
.properties li { padding: 5px 0; }
.properties li ul { border: 1px solid #eee; margin: 10px 10px 10px 40px;
  background: white; }
.properties .properties { margin-left: 10px; }
.properties li:nth-child(even) { background: #fafafa; }
.properties p { padding: 10px 15px; }
.properties b { padding: 5px 10px; display: inline-block;
  vertical-align: middle; }
.api-urls{ margin-top: 30px; margin-bottom: 30px; }

